/* ------------
  Links & Buttons
------------ */
.btn-icon{
  width: 30px;
  height: 30px;
  border: 1px solid $gray-500;
  padding: 0;

  .icon{
    transition: $transition-base;
    stroke: $gray-500;
    fill: transparent
  }

  &.active{
    .icon{
      stroke: transparent;
      fill: $red;
    }
  }
}

.media{
  .btn-icon{
    position: relative;
    top: -30px;
    right: 15px;
  }
}